@using Mağza_Ürün_Takip_Sistemi.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblkategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Ad</td>
            <td><a href="/Kategori/KategoriSil/@x.Id" class="btn btn-danger">Sil</a>
            <a href="/Kategori/KategoriGetir/@x.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Kategori/YeniKategori" class="btn btn-primary">Yeni Kategori</a>

