@model Mağza_Ürün_Takip_Sistemi.Models.Entity.tblkategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Ad, "Ad Alanı Boş Bırakılamaz", new { @style = "color:green" })
    <br />
    <button class="btn btn-info" style="margin-top:15px">Kaydet</button>
</form>
